.wrapper span {
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.wrapper h2 {
    margin-bottom: 2rem;
    color: #ffffff;
}

.wrapper p {
    color: #ffffff
}

.caseStudyTestimonial {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/case-study-testimonial-bg.png');
    background-size: cover;
    background-position: center;
}

.imgWrapper {
    position: relative;
    overflow: hidden;
}

.imgWrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.overlayContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-top: 5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    color: #fff;
}

.overlayContent h3 {
    margin: 0 0 8px;
    font-size: clamp(20px, 4vw, 40px);
    line-height: clamp(26px, 5vw, 48px);
    color: #ffffff;
}

.overlayContent a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-display);
    letter-spacing: 0.02em;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
}

.feedbackContent>* {
    color: #ffffff
}

.overlayContent a:hover {
    color: var(--color-secondary);
}

.authorInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.authorInfo p {
    color: #ffffff !important;
}

.rating {
    color: var(--color-primary)
}

.quoteIcon svg {
    color: var(--color-primary);
    width: 80px;
    height: 80px
}

.navBtns {
    display: flex;
    gap: 12px;
}

.navBtns button {
    transition: all 0.3s ease;
}

.navBtns svg {
    color: #000000;
    width: 24px;
    height: 24px
}